/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}    

/* End reset */

/* Base formatting */

* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 14pt;
	line-height: 1.7em;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	max-width: 720px;
	color: #262626;
	background-color: #f5f5f5;
	margin: 1em auto;
	margin-top: 140px;
}

/* Text formatting */

h1, h2, h3, h4, h5, h6, strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin-bottom: 0.4em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: 0.2em;
}
h3 { 
	font-size: 1.3em;
	margin-bottom: 0.1em;
}

h4 {
	font-size: 1em;
}

p {
	margin-bottom: 1em;
}

p:last-child {
	margin-bottom: 0;
}

a {
	color: #597ef7;
	text-decoration: none;
	transition: 0.25s;
}

a:hover {
	color: #061178;
	text-decoration: underline;
}

blockquote {
	background-color: #d9d9d9;
	width: 100%;
	padding: 1em;
	border-left: 0.4em solid #061178;
	margin-bottom: 0.5em;
}

.red-text {
	color: #f5222d;
}

.green-text {
	color: #5b8c00;
}

/* Main navigational elements */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	overflow: hidden;
	background-color: #d9d9d9;
	width: 100%;
	height: auto;
	min-height: 1.9em;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

header a, #menu a {
	color: #061178;
	font-size: 1.25em;
	transition: 0.25s;
	text-decoration: none;
	display: block;
	padding: 1em;
	width: auto;
}

header a:hover, #menu a:hover {
	color: #597ef7;
}

header img {
	width: 240px;
	transition: 0.25s;
	/* Get rid of the margins added for body images. Makes the header too big, otherwise. */
	margin: 0;
	/* Add a transparent border to the element in its normal state so that the size of the header is not altered on hover */
	border-bottom: 0.2em solid transparent;
}

header img:hover, header img:focus {
	border-bottom: 0.2em solid #262626;
}

#logo {
	justify-content: flex-start;
	margin: 0;
	/* Remove some default padding on bottom to compensate for the border element */
	padding-bottom: 0.8em;
}

header a.icon {
	justify-content: flex-end;
	margin-left: auto;
	font-size: 1.9em;
	height: 100%;
	/* Add a transparent border to the element in its normal state so that the size of the header is not altered on hover */
	border: 0.1em solid transparent;
}

header a.icon:hover, header a.icon:focus {
	color: #262626 !important;
	border: 0.1em solid #262626;
}

#menu {
	position: fixed;
	right: 0.5em;
	top: 7.5em;
	z-index: 9;
	overflow: auto;
	background-color: #d9d9d9;
	border-radius: 1em;
	width: auto;
	max-width: 80%;
	max-height: 70vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#headerMenuLinks {
	display: none;
	margin: 1em 0;
}

#menu p {
	font-size: 1.25em;
	margin: 1em;
}

#menu a:hover {
	text-decoration: underline;
}

#menu li {
	margin-left: 1.5em;
}

footer {
	overflow: hidden;
	background-color: #d9d9d9;
	width: 100%;
	margin-top: 2em;
	min-height: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

footer p {
	font-weight: 700;
	font-size: 1.2em;
	margin: 0;
	max-width: 60%;
	height: 3em;
	padding: 0 0.5em;
	text-align: center;

	/* Truncating text which exceeds two lines with ellipses */
	/* Resource on this: https://medium.com/@elad/trimming-multi-lines-in-css-5ae59d5e6d84 */
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

footer a {
	color: #f5f5f5;
	height: 100%;
	min-width: 20%;
	font-size: 1.25em;
	transition: 0.25s;
	text-decoration: none;
	padding: 1em;
	display: flex;
	background-color: #061178;
}

#previous {
	justify-content: center;
}

#next {
	justify-content: center;
}

.disabled {

	background-color: #8c8c8c !important;
	transition: none;
}

.disabled:hover {
	color: inherit;
	color: #f5f5f5;
	text-decoration: none;
	cursor: not-allowed;
}

footer a:hover {
	color: #597ef7;
}

button, input[type=submit] {
	display: block;
	position: relative;
	min-width: 20%;
    width: auto;
    height: 2em;
    color: #f5f5f5;
    background-color: #061178;
    border: none;
    border-radius: 0.5em;
    transition: 0.3s;
    font-size: 1.2em;
}

button i {
	padding: 0 0.5em;
}

button:hover, button:focus, input[type=submit]:hover, input[type=submit]:focus {
	background-color: #2f54eb;
	text-decoration: underline;
/*    border: 0.4em solid #d9d9d9; */
}

.cancel {
	background-color: #8c8c8c;
}

.cancel:hover {
	background-color: #434343;
}

.button-group {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.button-group button {
	margin: 0 0.5em;
	min-width: 25%;
	max-width: 50%;
}

.red {
	background-color: #f5222d;
}

.green {
	background-color: #a0d911;
}

.red:hover {
	background-color: #a8071a;
}

.green:hover {
	background-color: #5b8c00;
}

/* Term list classes */

.termsHeading {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	width: 100%;
}

.termsHeading h2 {
	justify-content: flex-start;
}

.termsHeading button {
	justify-content: flex-end;
	margin-left: auto;
	margin-right: 1em;
}

#termList {
	margin-top: 0.5em;
	display: flex;
}

#termList p {
	color: #262626
}

#termList p:hover {
	color: #061178;
}

.flexList {
	flex-direction: column;
}

.flexCard {
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
	flex: 1;
}

.list {
	border-bottom: 0.4em solid #d9d9d9;
	padding-top: 0.5em;
	width: 100%;
}

.card {
	background-color: #d9d9d9;
	border-radius: 1em;
	padding: 1em;
	margin: 1em;
	max-width: 50%;
}

/* Content-related elements */

img {
	margin: 0.5em 0;
	max-width: 100%;
	max-height: 80vh;
}

.resource {
	margin: 1em 0;
}

/* Form formatting */

input[type=text] {
	height: auto;
	min-width: 50%;
    max-width: 75%;
    box-sizing: border-box;
    border: none;
    border-bottom: 8px solid #061178;
    font-size: 2em;
    color: #8c8c8c;
    outline: none;
    padding: 4px 0px 4px 0;
    margin-bottom: 24px;
    transition: 0.5s;
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    border: none;
    border-bottom: 8px solid #061178;
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color: #8c8c8c;
    outline: none;
    padding: 4px 0px 4px 0;
    margin-bottom: 24px;
    transition: 0.5s;
    overflow: auto; 
    overflow-x: hidden;
    overflow-y: scroll;
    resize: none;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type=text]:focus {
    border: 2px solid black;
    border-bottom: 8px solid #2f54eb;
}

textarea:focus {
    border: 2px solid black;
    border-bottom: 8px solid #2f54eb;
}

input[type=submit] {
	min-width: 30%;
	margin: 0 auto;
}



/* Breakpoints */

@media only screen and (max-width: 720px) {

	body {
		margin-top: 88px;
		padding: 1em;
		font-size: 12pt;
	}

	header a.icon {
		font-size: 2.1em;
		padding: 0.5em;
	}

	header img {
		width: 180px;
		align-items: flex-end;
	}

	#logo {
		padding: 0.5em;
		padding-bottom: 0.3em;
	}

	#menu {
		top: 6em; 
	}

}