/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}    

/* End reset */

/* Type */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.25em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    font-size: 1.2em;
    line-height: 120%;
    margin-bottom: .75em;
}

em {
    font-style: italic;
}

h1 {
    font-size: 1.75em;
    margin-bottom: .5em;
}

h2 {
    font-size: 1.6em;
    margin-bottom: .4em;
}

h3 {
    font-size: 1.3em;
    margin-bottom: .25em;
}

h4 {
    font-size: 1.1em;
    margin-bottom: .25em;
}

h5 {
    font-size: 1em
}

a {
    color: #1890ff;
    font-weight: bold;
    text-decoration: none;
    transition: .5s;
    line-height: 1.2;
}

a:hover {
    color: #69c0ff;
}

/* Index Content */

.container {
    height: 100%;
    display: inline-block;
}

.links {
    position: relative;
    float: left;
    width: 50%;
    padding: .5em;
    /* margin: .75em; */
}

.nav {
    display: inline-block;
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    padding: inherit;
    font-size: 1.5em;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0);
    transition: .5s;
}

.overlay:hover {
    background-color: rgba(255,255,255,0.30);
}

.links .text {
    position: relative;
    width: 100%;
    display: block;
    font-size: 1.5em;
    text-align: center;
    max-width: 600px;
}

.links img {
    width: 100%;
    max-width: 600px;
}

/* Bill stuff */

.table {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 0.5em;
    max-width: 1000px;
}

.table p {
    margin: 0;
    font-size: 1.1em;
}

.head, .head-total{
    background-color: #69c0ff;
    padding: .75em;
    font-weight: bold;
}

.head {
    grid-column: 1;
}

.head-total {
    grid-column: 2;
}

.column-1 {
    grid-column: 1;
    display: grid;
    width: 40%;
    padding: .25em .5em;
}

.column-2 {
    grid-column: 2;
    display: grid;
    padding: .25em 0.5em;
}

.row-1 {
    background-color: #bae7ff;
    height: 100%;
    width: 100%;
}

.row-2 {
    background-color: #f5f5f5;
    height: 100%;
    width: 100%;
}

.table .cancel {
    margin-left: 0;
}
.table .confirm {
    margin-right: 0;
}

.important {
    font-weight: bold;
    font-size: 1.25em;
}

.buttons {
    display: absolute;
    width: 100%;
    text-align: center; 
}

button {
    font-family: 'Cantarell', sans-serif;;
}

.accordion {
    background-color: #bae7ff;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    padding: 1em;
    width: 90vw;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.25em;
    transition: 0.4s;
    display: inline-block;
    max-width: 1000px;
}

.title {
	float: left;
    margin: 0;
}

.total {
    float: right;
    margin: 0;
    padding: 0;
}

.total p {
    float: left;
    margin: 0;
}

.expand {
    margin-left: 1em !important;
    color: #237804;
}

.detail {
    position: relative;
    display: inline-block;
    grid: none;
    grid-column: none;
    padding: 0.5em;
    font-style: italic;
}

.active, .accordion:hover {
    background-color: #69c0ff;
}

.panel .table {
    padding: 0;
}

.panel {
    padding: 0;
    width: 90vw;
    max-width: 1000px;
    display: none;
    background-color: #f5f5f5;
    overflow: hidden;
}

.confirm {
    font-size: 1.5em;
    color: white;
    background-color: #52c41a;
    border-radius: .25em;
    padding: .5em;
    margin: .25em;
    cursor: pointer;
    transition: 0.5s;
}

.confirm:hover {
    background-color: #237804;
}

.cancel {
    font-size: 1.5em;
    color: white;
    background-color: #595959;
    border-radius: .25em;
    padding: .5em;
    margin: .25em;
    cursor: pointer;
    transition: 0.5s;
}

.cancel:hover {
    background-color: #262626;
}

/* Global Content */

.profile {
    display: inline-block;
    padding: 0.75em;
    width: 100%;
}

.profile img {
    display: block;
    width: 4em;
    float: left;
    margin: .5em .5em .5em 0;
}

.profile .info{
    float: left;
    margin: .4em 0 .25em;
}

.profile h1 {
    color: #1890ff;
}

img {
    max-width: 100%;
}

.content {
    display: inline-block;
    position: relative;
    margin: 0.75em;
    
}

.content img {
    margin: 0 0 1em;
}

.content ul p {
    margin-bottom: .25em;
}

.content li {
    margin-left: 1em;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
    position: relative;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 1em;
    background-color: #595a5a;
}

.header img {
    height: 100%;
    width: 100%;
    max-width: 10em;
}

.header ul {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%)
}

.header li {
    float: left;
    margin: 2em 1em;
}

.header li a {
    font-size: 2em;
}

.footer {
    position: relative;;
    margin-top: 1em;
    width: 100%;
    left: 0;
    background-color: #595a5a;
    padding: 1em 1em;
    z-index: 10;
    color: white;
}

/* Footer */ .location {
    width: 100%;
    display: inline-block;
    margin-top: 1em;
}

/* Footer */ .column {
    width: 50%;
    float: left;
}

/* Footer */ .contact {
    text-align: center;
    height: 100%;
}

/* Footer */ .phone {
    font-size: 1.5em;
    display: inline-block;
}

/* Footer */ .contact p {
    display: inline-block;
    margin-left: .5em;
}

/* Footer */ .social i {
    font-size: 3em;
    margin: 0 .25em;
}

i {
    margin: .25em 0;
}









/* Mobile */

@media only screen and (max-width: 720px) {
    
    p {
        line-height: 150%;
        font-size: 1em;
        margin-bottom: 1em;
    }
    
    .header img {
        max-width: 100%;
        margin: inherit auto;
        display: inline-block;
    }
    
    
    .header ul {
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        transform: translate(0,0);
        margin: 0 auto;
        display: inline-block;
        text-align: center;
    }
    
    .header li {
        position: relative;
        float: none;
        width: 50%;
        margin: 1em auto;
    }
    
    .profile img {
        margin-bottom: 0;
    }
    
    .column, .location h2{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    
    .column {
        margin-bottom: .5em;
    }

    .links {
        width: 100%;
    }
    
    .overlay {
        top: 0;
        left: 0;
    }
    
    /* .table {
        padding: 0 .5em;
    }
    
    .column-1, .column-2 {
        width: 45%;
    } */
    
    .total {
        float: left;
        padding-left: 1em;
    }
    
}
